*.png filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.iff filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pict filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.rvt filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.3dm filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.c4d filter=lfs diff=lfs merge=lfs -text
*.collada filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.jas filter=lfs diff=lfs merge=lfs -text
*.lws filter=lfs diff=lfs merge=lfs -text
*.lxo filter=lfs diff=lfs merge=lfs -text
*.ma filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.mb filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.skp filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.ztl filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/Ford.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Opt/Prefabs/MustangHigh_opt.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Opt/Prefabs/MixAndMatchCar_opt.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Opt/Prefabs/MixAndMatchCar_opt_mat.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/Ford.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/Ford filter=lfs diff=lfs merge=lfs -text
Mustang filter=lfs diff=lfs merge=lfs -text
MED.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/ filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/Ford[[:space:]]Mustang[[:space:]]MED.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/Prefab[[:space:]]From[[:space:]]FBX/Ford[[:space:]]Mustang[[:space:]]HIGH filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/Prefab[[:space:]]From[[:space:]]FBX/Ford[[:space:]]Mustang[[:space:]]HIGH.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/Prefab[[:space:]]From[[:space:]]FBX/Ford[[:space:]]Mustang[[:space:]]MED.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/FBX/Prefab[[:space:]]From[[:space:]]FBX/Ford.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Opt/Prefabs/Ford550S_Low_Tab10.prefab filter=lfs diff=lfs merge=lfs -text

Assets/VWT/Platforms/Common/Prefabs/*.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Platforms/PC/Prefabs/*.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Platforms/Mid/Prefabs/*.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Platforms/Low/Prefabs/*.prefab filter=lfs diff=lfs merge=lfs -text
Assets/VWT/Platforms/S6/Prefabs/*.prefab filter=lfs diff=lfs merge=lfs -text
